
.charWrapper{
    position: relative;
	transform: rotate(0deg);
}

.character{
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
	width: 150px;
    height: 150px;
    top: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.ruler {
    position: absolute;
    bottom: 0%;
    left: 50%;
    border: dashed 2px #ccc;
    border-bottom: none;
} 

.idle{
    background-image: url('/images/Woodcutter_idle.png');
}

.jump{
    background-image: url('/images/Woodcutter_jump.png');
}

.left{
    background-image: url('/images/Woodcutter_walkLeft.png');
}

.right{
    background-image: url('/images/Woodcutter_walkRight.png');
}